body {
    background-color: gray;
    color:oldlace
}

#about p{
    font-size: 150%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

h1 {
    text-align: center;
    /* background-color: black; */
    padding: 13px;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    width: 75%;
}

nav {
    float:right;
    width: 25%; 
    margin: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    display: inline-block;
    float: left;
    text-decoration: none;
}
    #navbar li a {
        border-radius: 20px;
        display: block;
        padding: 18px;
        margin: 2px;
        background-color: #dddddd;
        text-decoration: none;
        font-size: 140%;
    }
    #navbar li a:hover {
        background-color: chartreuse;
    }
    #navbar li a:visited { 
        color: black;
    }


img {
    width: 95%;
    border-radius: 65%;
    margin: 0px;
    padding: 10px;
}

#intro {
    display: block;
    text-align: center;
    width: 25%;
    float: left;
    background-color: lightgrey;
    border-radius: 20px;
    color:black;
    font-size: 150%;
}

#Projects li {
    display: inline-block;
    float:left;
    text-decoration: none;
}

#Projects li a {
    border-radius: 20px;
    display: block;
    padding: 18px;
    margin: 20px;
    background-color: white;
    text-decoration: none;
    font-size: 150%;
    color:crimson;
}
#Projects li a:visited { 
    color: black;
}

#Skills {
    font-size: 150%;
    text-align: left;
}
#Skills, #box1 {
    width: 25%;
    background-color:darkgray;
    float: left;
}
#Skills ul {
   list-style: none;
}
#Skills li {
    
} 