body {
    background-color: gray;
    color:oldlace
}

#about p{
    font-size: 150%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

h1 {
    text-align: center;
    /* background-color: black; */
    padding: 13px;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    width: 75%;
}

nav {
    float:right;
    width: 25%; 
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:left;
    text-decoration: none;
}

    li a {
        border-radius: 20px;
        display: block;
        padding: 18px;
        margin: 2px;
        background-color: #dddddd;
        text-decoration: none;
        font-size: 140%;
    }
    li a:hover {
        background-color: chartreuse;
    }
    li a:visited { 
        color: black;
    }
#navbar li {
    display: inline-block;
}

img {
    width: 95%;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;
}

#intro {
    display: block;
    text-align: center;
    width: 25%;
    float: left;
    background-color: lightgrey;
    border-radius: 20px;
    color:black;
}

#Projects li a {
    border-radius: 20px;
    display: block;
    padding: 18px;
    margin: 2px;
    background-color: #a33939;
    text-decoration: none;
    font-size: 150%;
}